table {
    width: 100%;
  }


.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }


.btn-principal{
  margin-left: 92%; margin-top: 0%;
}

.principal{
  width: 70%; 
  margin: 40px auto;
}

.btn-nuevo{
  margin-bottom: 10px;
}